.uk-navbar.main-navbar { background:transparent; border-style:solid; border-color: #ddd; border-width:0px 0px 1px 0px;}
.uk-navbar-center { max-width: 90% }

table tfoot th { font-weight:bold; font-style:normal;font-size:1.2em;}
.cart-sum { font-style: normal; font-weight:bold; font-size:1.7em;}
